#container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}


#layer {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgb(255, 255, 255);
    
    /* https://cssgradient.io/ */
    background: rgb(120,144,160);
    background: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgba(15,17,20,1) 100%);
}

.bg {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: -1;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square:hover {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.427);
}

.square:active {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(23, 23, 23);
    border: 3px solid rgba(255, 255, 255, 0.427);
}

.maroon{
    background-color: maroon; 
}
.lightgreen{
    background-color: lightgreen; 
}

.magenta{
    background-color: magenta; 
}

body  {
    background-color: #101010;
    color: aliceblue;
}

.header {   
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

fieldset {
    background-color: #101010d2;
}

.grid {
    display: grid;
    align-content: center;
    text-align: center;
    justify-content: center;
}

