div {
    text-align: center;
}

h1 {
    background-color: rgb(204, 54, 54);
    font-size: 50px;
    color: rgb(255, 225, 225);
    text-align: center;
}

ul {
    text-align: left;
    /* color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px #000000; */
    width: 60%;
}

li {
    font-size: 18px;
}

.TutorialLeft{
    float: left;
    height: 100%;
    padding: 0% 2% 5% 0%;
}

.TutorialRight{
    float: right;
    height: 100%;
    padding: 0% 0% 0% 2%;
}


.div_Display{
    display: grid;
    height: 550px;
    border: 3px solid rgb(126, 41, 8);
    display: inline-block;
    margin: 2%;
    background-color: rgb(255, 249, 195);
}

.img_Display{
    height: 100%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0% 10% 5% 10%; */
    background-color: rgb(255, 249, 195);
    justify-content: center;
    border: 3px solid rgb(126, 41, 8);
    margin: 2%;
}